* {
    padding: 0;
    margin: 0
} 

body {
    background-color: #9ebde3;
    padding-top: 28px;
    text-align: center;
    font-family: Verdana, Helvetica, sans-serif;
    color: #333
}
#container {
    background-color: #fff;
    width: 711px;
    padding: 30px 25px 60px;
    border: 1px solid #000;
    margin: 0 auto;
    text-align: left
}

h1, h2, h3, h4, p, a { font-family: Verdana, Arial, Helvetica, sans-serif }

h2 {
    font-size: 16px;
    color: #a70909
}
h3 {
    font-size: 14px;
    color: #363636
}
h4 {
    font-size: 12px;
    color: #a70909
}
a img { border: none }
p { font-size: 11px }

#top {
    background-color: #84aad9;
    width: 100%;
    height: 198px;
    position: relative
}
#topLeft {
    background-color: #9ebde3;
    width: 283px;
    height: 197px;
    position: relative;
    top: 0;
    left: 0;
    float: left
}
#topLeft img {
    position: absolute;
    top: 77px;
    left: 16px
}
#topRight {
    width: 428px;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    float: left
}
#topRight img {
    position: absolute;
    bottom: 0;
    right: 0
}
#mainNav {
    background: url(../images/menu-bg.gif) 0 0 repeat-y;
    width: 100%; height: 28px;
    text-align: right
}
#mainNav ul { padding: 4px 17px 0 }

#mainNav ul li {
    list-style-type: none;
    display: inline;
    font-family: Arial, Verdana, Helvetica, Sans-serif;
    font-size: 14px;
    letter-spacing: -0.82px;
    color: #fff
}
#mainNav ul li a {
    margin: 0 2px 0 5px;
    text-decoration: none;
    color: inherit
}
#bottomSection {
    padding-top: 21px;
    overflow: auto
}
#bottomLeft {
    background: url(../images/arrow.gif) 3px 31px no-repeat;
    width: 263px; height: 51px;
    margin: 3px auto;
    float: left
}
#bottomLeft h3 {
    font-family: Georgia, "Times New Roman", serif;
    line-height: 200%;
    font-size: 13px;
    color: #363636
}
#bottomLeft h4 a {
    width: 233px;
    margin-top: 9px;
    float: right;
    text-decoration: none;
    font-size: 11px;
    color: #a70909
}
#bottomLeft p {
    width: 233px;
    margin-top: 1.25em;
    float: right;
    line-height: 150%;
    font-size: 10px
}
#bottomRight {
    width: 428px;
    float: right;
    font-size: 18px
}
#bottomRight h2 {
    margin-bottom: 11px;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 16px
}
#bottomRight p {
    margin-top: 10px;
    font-size: 10px;
    line-height: 200%
}
#bottomRight p a {
    text-decoration: none;
    font-weight: bold;
    color: #a70909
}
